/.idea/
/agents/node_modules
/agents/dist
/client/node_modules
/client/dist
/data/node_modules
/data/dist
/apps/abis/node_modules
/apps/abis/dist
/dialog/node_modules
/dialog/dist
/events/node_modules
/events/dist
/interfaces/node_modules
/interfaces/dist
/log/node_modules
/log/dist
/server/node_modules
/server/dist
/types/node_modules
/types/dist